#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=ZenHub
Exec=/usr/bin/chromium-browser --profile-directory=Default --app-id=cnlhbdlbhdghjlpmblfhfbknmknodpgb
Icon=chrome-cnlhbdlbhdghjlpmblfhfbknmknodpgb-Default
StartupWMClass=crx_cnlhbdlbhdghjlpmblfhfbknmknodpgb
