#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Slack
Exec=/usr/bin/chromium-browser --profile-directory=Default --app-id=gabkoapghjeihpbijnlglapfagdkcana
Icon=chrome-gabkoapghjeihpbijnlglapfagdkcana-Default
StartupWMClass=crx_gabkoapghjeihpbijnlglapfagdkcana
